.jumbotron {
  background-color: #CB4A2F(219, 77, 77);
  color: white;
  font-style: bolder;
}
.card-header {
  background: #FFD0A8(7, 115, 223, 0.877);
  color: white;
}
.container-fluid {
  padding-bottom: 50px;
}
.card {
  box-shadow: 5px 5px 5px grey;
  margin-left: 30px;
  border: 0;
}
.container {
  height: auto;
  display: grid;
  box-sizing: content-box;
  max-width: fit-content;
  font-weight: bold;
}
.card-body {
  background: rgb(240, 239, 239);
}
