.jumbotron {
  background-color: #cb4a2f;
  color: white;
  font-style: bolder;
}
.card-header {
  background: #ffd0a8;
  color: white;
}
.container-fluid {
  padding-bottom: 50px;
}
.card {
  box-shadow: 5px 5px 5px #cb4a2f;
  margin-left: 30px;
  border: 0;
}
.container {
  height: auto;
  display: grid;
  box-sizing: content-box;
  max-width: fit-content;
  font-weight: bold;
}
.card-body {
  background: white;
}
